:root {
  --main-color: #a82420;
  --main-height: 100%;
  --scanner-size: 270px;
  --scanner-size-sm: 245px;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}

body {
  background-color: #fff;
}

main {
  min-height: calc(84px + 25px + var(--scanner-size));
}

.hide {
  display: none !important;
}

.container {
  padding: 0 20px;
}

.header {
  margin-bottom: 30px;
  background-color: var(--main-color);
}

.header__logo {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 200px;
}

.instruction {
  padding: 0 25px;
  margin-bottom: 25px;
  min-height: 84px;
  line-height: 28px;
  font-size: 23px;
  text-align: center;
}

.reader-wrap {
  position: relative;
  display: block !important;
  min-height: var(--scanner-size);
}

.reader {
  width: var(--scanner-size);
  margin: 0 auto;
}

.loader__wrapper {
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--main-color);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 380px) {
  .app {
    height: var(--scanner-size-sm);
  }

  main {
    min-height: calc(75px + 20px + var(--scanner-size-sm));
  }

  .instruction {
    margin-bottom: 20px;
    min-height: 75px;
    font-size: 18px;
    line-height: 25px;
  }

  .reader {
    width: var(--scanner-size-sm);
  }

  .reader-wrap {
    min-height: var(--scanner-size-sm);
  }
}
